:root {
  --color-primary-0: #32635C; 	/* Main Primary color */
  --color-primary-1: #6D928D; 
  --color-primary-2: #497871;
  --color-primary-3: #1E5049;
  --color-primary-4: #0E3D37;

  --color-secondary-1-0: #9E954F;	/* Main Secondary color (1) */
  --color-secondary-1-1: #E9E2AE;
  --color-secondary-1-2: #BFB775;
  --color-secondary-1-3: #7F7730;
  --color-secondary-1-4: #615916;
}

p, a {
    font-family: "Open Sans";
    font-size: 20px;
}


h1, h2, h3, h4, h5, h6, li, div {
  font-family: "Open Sans";
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--color-primary-1);
}

.page-header {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    height: 150px;
    background-color: var(--color-primary-0);
}

#page-title {
    margin-left: 150px;
    margin-top: 25px;
    font-size: 75px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.bg-dark {
    background-color: var(--color-primary-0) !important;

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    font-size: 1.6rem;
    font-family: "Oswald";
  }

  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    font-size: 1.5rem;
    font-family: "Oswald"
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Oswald";
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}
/* Start Blog page Styling */
.image-box {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-1)

}

.blog-image {
    margin: 50px;
    width: 50%;
    border: 50px solid var(--color-secondary-1-2);
}

#blog-text-left {
    margin-left: 20px;
    color: white;
}

#blog-text-right {
    margin-right: 20px;
    color: white;
}

/* End Blog page styling */

/* Start Product page styling */

.h1-heading {
  color: white;
}

.h3-sub {
  color: white;
  font-style: italic;
}

.h4-section {
  color: white;
} 

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-text {
  color: white;
}

.product-img {
  height: 250px;
  width: 250px;
  border: 10px solid var(--color-secondary-1-2);
}

.btn-buy-now {
  text-decoration: none;
  height: 50px;
  width: 100px;
  color: white;
  border-radius: 5px;
  background-color: var(--color-secondary-1-0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Product page styling */

/* Start of About page styling */
.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-about {
  color: white;
  line-height: 2;
}

.p-about {
  margin: 20px;
  color: white;
  line-height: 2;
}

/* End About page styling */

/*Start Home page styling */
.home-page {
    display: flex;
    background-color: white;
    align-items: center;
    width: 100%;
    
}

#home-img {
    width: 30%;
}

#home-title {
    font-size: 75px;
    font-weight: 600;
    margin-bottom: 50px;
}

.home-paragraph {
    width: 650px;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
  }
  



.masonry-img {
    width: 100%;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* The Masonry Container */
  .masonry {
    margin: 1.5em auto;
    max-width: 768px;
    column-gap: 1em;
  }
  
  /* The Masonry Brick */
  .item {
    background: #eee;
    padding: .5em;
    margin: 0 0 1.5em;
  }

/* End home page styling */

.footer {
  background-color: var(--color-primary-0);
  color: black;
  height: 75px;
  order: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.github-link {
  border: 1px solid var(--color-secondary-1-0);
  background-color: var(--color-secondary-1-0);
  padding: 7px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page {
    width: 100%;
  }
  
  .product {
    flex-direction: column;
  }
  .image-box {
      flex-direction: column;
  }

  .image-box-reverse {
      flex-direction: column-reverse;
  }
  #blog-text-left {
    margin-left: 20px;
    margin-right: 20px;
  }

  #blog-text-right {
      margin-right: 20px;
      margin-left: 20px;
  }

  .blog-image {
      border: 10px solid var(--color-secondary-1-2);
  }

  .products {
    margin-bottom: 100px;
  }

  .product {
    margin: 5px;
  }

  .h4-section {
    margin: 20px;
  }

  .h3-sub {
    margin: 20px;
  }

  .h1-heading {
    margin: 20px;
  }

  .product-img {
    margin-right: 10px;
  }

  .btn-buy-now {
    margin-left: 10px;
    margin-top: 10px;
  }

  .footer {
    justify-content: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page {
    width: 100%;
  }

  .product {
    flex-direction: column;
  }

  .image-box {
      flex-direction: column;
  }
  .image-box-reverse {
      flex-direction: column-reverse;
  }
  #blog-text-left {
      margin-left: 20px;
      margin-right: 20px;
  }
  
  #blog-text-right {
      margin-right: 20px;
      margin-left: 20px;
  }

  .footer {
    justify-content: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
  }

  .product-text {
    width: 500px;
  }

  .products {
    margin-bottom: 100px;
    margin: 10px;
  }

  .product {
    margin: 5px;
  }

  .h4-section {
    margin: 20px;
  }

  .h3-sub {
    margin: 20px;
  }

  .h1-heading {
    margin: 20px;
  }

  .product-img {
    margin-right: 10px;
  }

  .btn-buy-now {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .github-link {
    margin-right: 20px;
  }
}